<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Word Finder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="first-div">
        <header id="myheader">
            <h1 id="top-page">Word finder</h1>
        </header>
        <div>
            <section>
                Enter a description of a word your thinking of and we will return a list of posible words that it can be.
            </section>
        </div>
        <form name="passdata" action="." method="POST" id="myform">
            <label for="word" id="word-label">Describe the word you are thinking of here</label><br>
            <input type="text" name="word" id="myinput"><br>
            <input type="submit" value = "submit" id="mysubmit">
        </form>
    </div>
</body>
</html>
